/* Soluzione qui */

@media screen and ( min-width: 769px) {
    #topbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #logo {
        display: inline-block;
    }

    main {
        padding: 40px;
    }
}
   