/* Soluzione qui */

@media screen and ( min-width: 769px) {

    #topbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #logo {
        display: inline-block;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
        font-size: 40px;
    }

    .recipe-name {
        font-size: 40px;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .quick-notes li {
        flex-basis: 30%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .btn {
        padding: 10px 54px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 12px;
    }

}

@media screen and ( min-width: 992px) {

    .recipe-name {
        font-size: 50px;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-info {
        display: flex;
        flex-basis: 30%;
    }

    .recipe-video {
        display: flex;
        flex-basis: 70%;
    }

}
   